img.pfr-logo {
    height: 190px;
}

img.pfr-logo-circle {
    height: 100px;
    margin-top: -80px;
}

.bg-blue-light {
    background: #BFE0DE;
}

.bg-blue-lighter {
    background: #BFE3EB;
}

.bg-gray-dark {
    background: #BFCDC9;
}

.bg-gray-light {
    background: #E9E9DB;
}

.bg-green-light {
    background: #E1EACE;
}

.btn-shareholders {
    border-radius: 0 !important;
    color: black;
}

div[id^="btnShareholdingsExpanded"] {
    padding: 15px 30px;
}

@media (min-width: 1200px) {
    ul.pfs-activities {
        padding: 0 80px;
    }
}

ul.pfs-activities li:first-child {
    background: #CEE9EC;
}

ul.pfs-activities li:first-child .circle {
    background: transparent;
    height: 90px;
    width: 90px;
    margin-left: -25%;
}

@media (max-width: 767px) {
    ul.pfs-activities li:first-child .circle {
        margin-left: -5%;
    }
}

ul.pfs-activities li:first-child .btn-shareholders {
    background: #8BCDD2;
}

ul.pfs-activities li:first-child i {
    background: #5AB7BE;
}

ul.pfs-activities li:nth-child(2) {
    background: #FFF1B2;
}

ul.pfs-activities li:nth-child(2) .circle {
    background: transparent;
    height: 90px;
    width: 90px;
    margin-left: -25%;
}

@media (max-width: 767px) {
    ul.pfs-activities li:nth-child(2) .circle {
        margin-left: -5%;
    }
}

ul.pfs-activities li:nth-child(2) .btn-shareholders {
    background: #FFDF4D;
}

ul.pfs-activities li:nth-child(2) i {
    background: #FFD200;
}

ul.pfs-activities li:nth-child(3) {
    background: #D0CDDF;
}

ul.pfs-activities li:nth-child(3) .circle {
    background: transparent;
    height: 90px;
    width: 90px;
    margin-left: -25%;
}

@media (max-width: 767px) {
    ul.pfs-activities li:nth-child(3) .circle {
        margin-left: -5%;
    }
}

ul.pfs-activities li:nth-child(3) .btn-shareholders {
    background: #918AB6;
}

ul.pfs-activities li:nth-child(3) i {
    background: #625896;
}

ul.pfs-activities li:nth-child(4) {
    background: #E2BABC;
}

ul.pfs-activities li:nth-child(4) .circle {
    background: transparent;
    height: 90px;
    width: 90px;
    margin-left: -25%;
}

@media (max-width: 767px) {
    ul.pfs-activities li:nth-child(4) .circle {
        margin-left: -5%;
    }
}

ul.pfs-activities li:nth-child(4) .btn-shareholders {
    background: #BA5E63;
}

ul.pfs-activities li:nth-child(4) i {
    background: #9D1920;
}

ul.pfs-activities li:nth-child(5) {
    background: #EEEAD6;
}

ul.pfs-activities li:nth-child(5) .circle {
    background: transparent;
    height: 90px;
    width: 90px;
    margin-left: -25%;
}

@media (max-width: 767px) {
    ul.pfs-activities li:nth-child(5) .circle {
        margin-left: -5%;
    }
}

ul.pfs-activities li:nth-child(5) .btn-shareholders {
    background: #D6CDA0;
}

ul.pfs-activities li:nth-child(5) i {
    background: #C5B877;
}

ul.pfs-activities > li {
    position: relative;
    border: 8px solid white;
}

@media (max-width: 767px) {
    ul.pfs-activities > li {
        margin-bottom: 30px;
    }
}

ul.pfs-activities > li > section.section-padded {
    padding: 70px 30px 30px;
}

@media (max-width: 767px) {
    ul.pfs-activities > li > section.section-padded {
        padding: 50px 30px 10px;
    }
}

@media (min-width: 767px) {
    ul.pfs-activities > li > section.section-padded {
        min-height: 150px;
    }
}

ul.pfs-activities > li > section.section-unpadded {
    padding: 0;
}

ul.pfs-activities > li i {
    color: white;
    border-radius: 30px;
    height: 18px;
    width: 18px;
    padding-top: 5px;
    padding-right: 1px;
    font-size: 10px;
}

div.divider {
    margin: 60px 0;
}

.percentage-block {
    padding: 40px 40px 30px;
    position: relative;
}

.circle {
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 80px;
    border: 6px solid transparent;
    left: 50%;
    margin-left: -60px;
    top: -32px;
    background: #F5F5F5;
}

.circle-larger {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 80px;
    left: 50%;
    margin-left: -50px;
    top: -65px;
    background: #F5F5F5;
}

.circle-larger .circle-inner p {
    position: absolute;
    height: auto;
    width: auto;
    border-radius: 42px;
    left: 34%;
    top: 35%;
    background: #F5F5F5;
    padding-top: 14px;
}

.circle-larger .circle-inner p.small {
    font-size: 70%;
}

.circle-inner p {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 42px;
    left: 25%;
    top: 26%;
    background: #FFF;
    padding-top: 14px;
}

.circle-inner p.small {
    font-size: 70%;
}

.gauge-path {
    stroke-width: 2;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.arc-remgro {
    stroke: #00817A;
    fill: none;
    stroke-width: 20;
}

.arc-remgro-2 {
    stroke: #00817A;
    fill: none;
    stroke-width: 20;
}

.arc-directors {
    stroke: #008DAF;
    fill: none;
    stroke-width: 20;
}

.arc-royal {
    stroke: #003627;
    fill: none;
    stroke-width: 20;
}

.arc-rmb {
    stroke: #D2D3B7;
    fill: none;
    stroke-width: 20;
    stroke-dashoffset: 30;
}

.arc-bee {
    stroke: #87AB39;
    fill: none;
    stroke-width: 20;
}

.bordered-circle-white {
    border: 10px solid white;
    border-radius: 78%;
}

.c-l-r1-p1 {
    stroke-width: 4;
    stroke: #cccccc;
    fill: transparent;
}

.c-l-r1-p2 {
    stroke-width: 4;
    stroke: #cccccc;
    fill: transparent;
}

.c-l-r1-p3 {
    stroke-width: 4;
    stroke: #cccccc;
    fill: transparent;
}

.c-l-r2-p1 {
    stroke-width: 4;
    stroke: #cccccc;
    fill: transparent;
}

.c-l-r2-p2 {
    stroke-width: 4;
    stroke: #cccccc;
    fill: transparent;
}

.c-l-r2-p3 {
    stroke-width: 4;
    stroke: #cccccc;
    fill: transparent;
}

/* Overall Animate SVG Class for the lines on hover
* REF: JS (function revealOnScroll)
*/
.animateSVG {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.7s ease-out;
}

/* Animate SVG Class for the delayed SVG class
* REF: JS (function revealOnScrollDelayed)
*/
.delayAnimateSVG {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s ease-in 0.65s;
}

.arc-directors.animateSVG {
    stroke-dashoffset: 25;
    transition: stroke-dashoffset 1.7s ease-out;
}

/* Animate SVG Class for the delayed Last SVG class
* REF: JS (function revealOnScrollDelayedLast)
*/
.delayAnimateSVGLast {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s ease-out 0.80s;
}

.arc-royal.animateSVG {
    stroke-dashoffset: 20;
    transition: stroke-dashoffset 1.7s ease-out;
}

.arc-remgro-2.animateSVG {
    stroke-dashoffset: 48;
    transition: stroke-dashoffset 1.7s ease-out;
}

.arc-bee.animateSVG {
    stroke-dashoffset: 45;
    transition: stroke-dashoffset 1.7s ease-out;
}

.speed-1x.delayAnimateSVGLast {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1.25s ease-in-out 1.20s;
}

.speed-2x.delayAnimateSVGLast {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1.25s ease-in 1.25s;
}

.speed-3x.delayAnimateSVG {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.5s ease-in 0.65s;
}

/* Class for ALL straight line svg animations
* These will be inherited by the single line paths
***************************************************
*/
.svg-straight-lines, #lineD, #lineE, #lineF, #lineH, #lineJ, #lineK, #lineL, #lineN, #lineP, #lineQ, #lineR, #lineS, #lineT, #lineLeft, #lineRight, #lineLeft1, #lineRight2, #lineLeft3, #lineRight4 {
    stroke-width: 5;
    fill: none;
}

#lineD {
    stroke: #D2D3B7;
}

#lineE {
    stroke: #D2D3B7;
}

#lineF {
    stroke: #D2D3B7;
}

#lineH {
    stroke: #D2D3B7;
}

#lineJ {
    stroke: #022351;
    stroke-dasharray: 200 200;
}

#lineK {
    stroke: #022351;
}

#lineL {
    stroke: #022351;
    stroke-dasharray: 200 200;
}

#lineN {
    stroke: #000000;
}

#lineP {
    stroke: #022351;
}

#lineQ {
    stroke: #000000;
}

#lineR {
    stroke: #000000;
}

#lineS {
    stroke: #000000;
}

#lineT {
    stroke: #000000;
}

#lineP {
    stroke: #000000;
}

.frh-banking-circles, .b-c-p1, .b-c-p2, .b-c-p3, .b-c-p4, .b-c-p5 {
    stroke-width: 20;
    fill: transparent;
}

.b-c-p1 {
    stroke: #5AB7BE;
}

.b-c-p2 {
    stroke: #FFD200;
}

.b-c-p3 {
    stroke: #625896;
}

.b-c-p4 {
    stroke: #9D1920;
}

.b-c-p5 {
    stroke: #C5B877;
}

#lineLeft {
    stroke: #D2D3B7;
}

#lineRight {
    stroke: #D2D3B7;
}

#lineLeft1 {
    stroke: #022351;
}

#lineRight2 {
    stroke: #022351;
}

#lineLeft3 {
    stroke: #000000;
}

#lineRight4 {
    stroke: #000000;
}